name: CI

on:
  push:
    branches: [ "**" ]
  pull_request:

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4

      - name: Restore
        run: dotnet restore src/FluentNHibernate.sln

      - name: Build
        run: dotnet build src/FluentNHibernate.sln -c Release --no-restore

      - name: Test
        run: dotnet test src/FluentNHibernate.sln -c Release --no-build
  