name: CI

on:
  push:
    branches: [ "**" ]
  pull_request:

jobs:
  windows:
    uses: ./.github/workflows/dotnet-build-test.yml
    with:
      os: windows-latest
      solution: src/FluentNHibernate.sln
      configuration: Release
      setup_dotnet_6: true
      setup_dotnet_8: true
      test_framework: net48

  linux:
    uses: ./.github/workflows/dotnet-build-test.yml
    with:
      os: ubuntu-latest
      solution: src/FluentNHibernate.sln
      configuration: Release
      setup_dotnet_6: true
      setup_dotnet_8: true
      test_framework: net6.0
